trigger: none

pool: vky

variables:
  tfVersion: 'latest'
  workDir: '$(System.DefaultWorkingDirectory)/ENV/dev'

stages:

# ---------------- INIT ----------------
- stage: Terraform_Init
  displayName: Terraform Init
  jobs:
  - job: init
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: $(tfVersion)

    - task: TerraformTask@5
      displayName: Terraform init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: $(workDir)
        backendServiceArm: 'vky_serviceconnection'
        backendAzureRmResourceGroupName: 'vky'
        backendAzureRmStorageAccountName: 'keystroke111111'
        backendAzureRmContainerName: 'mysecrettffile'
        backendAzureRmKey: 'secretfile1.tfstate'


# ---------------- PLAN ----------------
- stage: Terraform_Plan
  displayName: Terraform Plan
  dependsOn: Terraform_Init
  jobs:
  - job: plan
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: $(tfVersion)

    - task: TerraformTask@5
      displayName: Terraform plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: $(workDir)
        commandOptions: '-var-file="terraform.tfvars"'
        environmentServiceNameAzureRM: 'vky_serviceconnection'


# ---------------- APPLY ----------------
- stage: Terraform_Apply
  displayName: Terraform Apply
  dependsOn: Terraform_Plan
  condition: succeeded()
  jobs:
  - job: apply
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: $(tfVersion)

    - task: TerraformTask@5
      displayName: Terraform apply
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: $(workDir)
        commandOptions: '-auto-approve'
        environmentServiceNameAzureRM: 'vky_serviceconnection'
