trigger: none

pool: vky

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/ENV/dev'
    backendServiceArm: 'vky_serviceconnection'
    backendAzureRmOverrideSubscriptionID: 'a0366c1d-7e23-4176-93a9-0e084725b2d4'
    backendAzureRmResourceGroupName: 'vky'
    backendAzureRmStorageAccountName: 'keystroke11111'
    backendAzureRmContainerName: 'mysecrettffile'
    backendAzureRmKey: 'secretfile1.tfstate'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/ENV/dev'
    environmentServiceNameAzureRM: 'vky_serviceconnection'
    environmentAzureRmOverrideSubscriptionID: 'a0366c1d-7e23-4176-93a9-0e084725b2d4'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'apply'
    workingDirectory: '$(System.DefaultWorkingDirectory)/ENV/dev'
    # commandOptions: '-auti-approve'
    environmentServiceNameAzureRM: 'vky_serviceconnection'
    environmentAzureRmOverrideSubscriptionID: 'a0366c1d-7e23-4176-93a9-0e084725b2d4'
